<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="Microsoft.ServiceBus.ConnectionString"
            value="Endpoint=sb://unaigab2016-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=RklSrQN9sP8FQ49qb0qTeqEtSEiSU/DsG9xPHzFPNXY=;EntityPath=unaigab2016"/>
    </appSettings>
</configuration>